<!DOCTYPE html>
<html>

<head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="header">
        <div class="about">
            <div class="project-name">
                <h1>Members Only</h1>
            </div>
            <div class="project-credits">
                <p>Odin Project NodeJS Course Project #5 -- A program by <a
                        href="https://www.github.com/mizakson">Mizakson</a></p>
                <p></p>
            </div>
        </div>
        <%- include('partials/navBar.ejs', { user: user }) %>
            <% if (user) { %>
                <% if (folders.length===0) { %>
                    <strong>Create a folder to store and upload files!</strong>
                    <%} else if (folders.length> 0) { %>
                        <% for (const obj of folders) { %>
                            <div class="folder">
                                <div class="title-text">
                                    <%= obj.name %>
                                </div>
                            </div>
                            <div class="folder-options">
                                <button><a href="/content/folder/<%= obj.id %>/upload-file">Upload File</a></button>
                                <button><a href="/content/folder/<%= obj.id %>/files">View Files</a></button>
                                <button><a href="/content/<%= obj.id %>/edit-folder">Edit</a></button>
                                <form action="/content/<%= obj.id%>/delete-folder" method="post">
                                    <button type="submit">Delete</button>
                                </form>

                            </div>
                            <% } %>
                                <%} %>



                                    <% } %>

    </div>
</body>

</html>